* {
   box-sizing: border-box;
   margin:0;
   padding:0;  
}
   

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

footer {
  font-family: "Ubuntu", sans-serif;
  font-weight: 200;
  font-size:10px;
  line-height: 1.5;
  
  
}

body,
h1,
h2,
h3,
p {
  margin:0;
}


img {
  width:100%;
  
}


.container {
  margin: auto;
  width: min(90%, 70.5rem);
}

.text-center{
  text-align: center;
  align-items: center;

}

header, 
section {
  padding: 3rem 0;
  
}


.banner-area img {
    width:200px;
      

}

.water-science, .water-engineer, .water-title { 
  color: #ECECEB;
  background-color: #265B8B;
  padding: 50px;
}

.water-engineer img {
  width:100%;
  margin-top:10px;
}


.water-description { 
  color: #ECECEB;
  background-color: #265B8B;
  margin:0;
}


.bg-primary h2,
.bg-dark h2 {
  color: #ECECEB;
}

.footer-area img {
  width:20%;
}


